<div class="header-nav">
<div class="header-main">
<div class="header-left">
<div class="logo">
<%= link_to "CommitPartner", root_path%>
</div>
</div>
<div class="header-right">
<div class="header-nav1">Home</div>
<div class="header-nav2">Category</div>
<div class="header-nav3">MyPage</div>
</div>

</div>
</div>