// Place all the styles related to the trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.training-main{
  height: 100vh;
  background-image: image-url("main.JPG");
    border: solid 2px;      /* 枠線指定 */
    background-size: cover;
}
//タイトル
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 1rem 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

h1 span {
  background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
//タイトル

//レコードリンクボタン//
.training-btn {
  display:flex;
  justify-content: center;
}

.training-btn a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color:#ffce08;
  font-size: 20px;
}

.record-img{
  width: 40px;
  height: 40px;
}


//レコードリンクボタン//

//カレンダー日付//
.training-record a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color:#fff;
  -webkit-text-stroke: 0.5px #000;
}

.training-name-record{
  font-size: 10px;
}

.training-m{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:chartreuse;
}

.training-m th{
color:azure;
-webkit-text-stroke: 0.5px #000;
}

.training-c{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffce08;
  -webkit-text-stroke: 1px #000;
}


//カレンダー日付//
