.training-new-main{
  height: 100vh;
  height: 100vh;
  background-size: cover;
  color: aqua;
  background-image: image-url("training7.jpeg");
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

